<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLinkActive="active" routerLink="/home">
    <img
      src="https://pbs.twimg.com/media/DC3-y8lUAAAvSGr.jpg:large"
      alt="Girl in a jacket"
      width="100"
      height="50"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active" routerLink="/home"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            routerLinkActive="active"
            [routerLink]="['immovable']"
          >
            Immovable
          </a>
          <a
            class="dropdown-item"
            routerLinkActive="active"
            [routerLink]="['leisure']"
          >
            Leisure and entertainment
          </a>
          <a
            class="dropdown-item"
            routerLinkActive="active"
            [routerLink]="['vehicle']"
            >Vehicle</a
          >
          <a
            class="dropdown-item"
            routerLinkActive="active"
            [routerLink]="['multimedia']"
          >
            IT and multimedia</a
          >
          <a
            class="dropdown-item"
            routerLinkActive="active"
            [routerLink]="['gardens']"
          >
            Home and gardens
          </a>
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            routerLinkActive="active"
            [routerLink]="['categories']"
            >Others</a
          >
        </div>
      </li>
      <li *ngIf="!auth.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/login"
          >Login</a
        >
      </li>
      <li *ngIf="!auth.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/signup"
          >SignUp</a
        >
      </li>
      <li *ngIf="auth.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/profile">{{
          auth.getUserDetails()?.first_name
        }}</a>
      </li>

      <li *ngIf="auth.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/login" (click)="auth.logout()"
          >Logout</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />

      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
        routerLink="/search"
      >
        Search
      </button>
    </form>
  </div>
</nav>
