<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="d-flex align-items-center py-5">
        <div class="container">
          <div claslogins="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <form (ngSubmit)="register()">
                <h1 class="login-heading mb-4">Register</h1>
                <div class="form-label-group">
                  <label for="first_name">First Name</label>
                  <br />
                  <input
                    type="text"
                    name="first_name"
                    class="form-control"
                    placeholder="Enter First Name"
                    [(ngModel)]="credentials.first_name"
                  />
                </div>
                <br />
                <div class="form-label-group">
                  Last Name
                  <br />
                  <input
                    type="text"
                    name="last_name"
                    class="form-control"
                    placeholder="Enter Last Name"
                    [(ngModel)]="credentials.last_name"
                  />
                </div>
                <br />
                <div class="form-label-group">
                  Email address
                  <br />
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
                    [(ngModel)]="credentials.email"
                    required
                  />
                </div>
                <br />
                <div class="form-label-group">
                  Phone number
                  <br />
                  <input
                    type="text"
                    name="phone"
                    class="form-control"
                    placeholder="Enter your Phone"
                    [(ngModel)]="credentials.phone"
                    required
                  />
                </div>
                <br />
                <div class="form-label-group">
                  Password
                  <br />
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter Password"
                    [(ngModel)]="credentials.password"
                    required
                  />
                </div>
                <br />

                <div class="form-label-group">
                  Confirm password
                  <br />
                  <input
                    type="password"
                    name="cpassword"
                    placeholder="Renter Password"
                    class="form-control"
                    [(ngModel)]="credentials.cpassword"
                  />
                </div>

                <br />
                <button
                  class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                  type="submit"
                >
                  Register
                </button>
                <div class="text-center">
                  <a class="small" routerLink="/login"
                    >Already have an accout?</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
