<div>
    <input 
    class="form-control mr-sm-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
    [(ngModel)]="term"
    (ngModelChange)="changeItems()"
    >
    <div class="row" *ngFor = "let item of products">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/assets/img/{{item.fileName}}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              {{item.productName}}
            </h4>
            <p>{{item.productPrice}}</p>
            <p class="card-text">{{item.description}}</p>
          </div>
        </div> 
      </div>
</div> 