.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
}
.card-body {
  text-align: center;
  background-color: rgb(211, 211, 211);
}
.column {
  padding: 1em;
 
}
.container-grid {
  display: grid;
  grid-template-columns: 30rem 30rem 30rem;
}
.container {
  margin-left: 195px;
}
