<header>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div
        class="carousel-item active"
        style="
          background-image: url('https://www.studyrama.com/IMG/arton1156.png');
        "
        routerLink="/immovable"
      >
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-4">Immovable</h1>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div
        class="carousel-item"
        style="
          background-image: url('https://www.therange.co.uk/_m5/1/6/1592811208_2_7166.jpg');
        "
        routerLink="/gardens"
      >
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-4">Home and gardens</h1>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div
        class="carousel-item"
        style="
          background-image: url('https://www.therange.co.uk/_m5/1/6/1592811208_2_7166.jpg');
        "
        routerLink="/multimedia"
      >
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-4">IT and multimedia</h1>
        </div>
      </div>
      <div
        class="carousel-item"
        style="
          background-image: url('https://static01.nyt.com/images/2019/09/25/world/25cli-clothes-still-promo/25cli-clothes-still-promo-superJumbo-v2.jpg');
        "
        routerLink="/clothes"
      >
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-4">Clothes</h1>
        </div>
      </div>
      <div
        class="carousel-item"
        style="
          background-image: url('https://press.zf.com/press/media/press_media/press_image/2018_1/releases_1/2018_11_07_zf_pi_e_mobility/2018-11-08_ZF_E-Mobility_02.jpg');
        "
        routerLink="/vehicle"
      >
        <div class="carousel-caption d-none d-md-block">
          <h1 class="display-4">Vehicle</h1>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<!-- <section class="py-5">
  <div class="container">
    <h1 class="display-4">Announcement</h1>
    <div class="row" *ngFor="let item of products">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/img/{{ item.fileName }}" />
          <div class="card-body">
            <h1 class="card-title">
              {{ item.productName }}
            </h1>
            <h4>{{ item.productPrice }}</h4>
            <p class="card-text">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="container" *ngFor="let item of products">
  <h1 class="my-4">
    Announcement
    <small>Secondary Text</small>
  </h1>
  <div class="container-grid">
    <div class="column" >
      <div>
        <div class="card h-100">
          <img class="card-img-top" src="/assets/img/{{ item.fileName }}" />
          <div class="card-body">
            <h1 class="card-title">
              {{ item.productName }}
            </h1>
            <h4>{{ item.productPrice }}</h4>
            <p class="card-text">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
